h1 {
	
	text-align: center;
	color: green;
	
}

p {
	
	color: red;
}

input[type = text], input[type = password], input[type = submit], input[type = button]{
	
	width: 100%;
	padding: 10px 0px;
	outline: none;
	border: 0.5px solid green;
	border-radius: 9px;
	
}

input[type = text]:focus, input[type = password]:focus, input[type = submit]:focus, input[type = button]:focus {
	
	border: 1.5px solid black;
	
}

.error {
	
	color: red;
	
}

fieldset {
	
	margin-left: 35%;
	margin-right: 35%;
	
	
}

p {
	
	display: inline-block;
	color: black;
	
}

p a{
	
	color: black;
	font-weight: bold;
	text-decoration: none;
	
}
